* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-main);
}

#root {
    min-height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--color-primary);
}

input,
select,
textarea {
    font-family: var(--font-main);
}

::selection {
    background-color: var(--color-primary-soft);
    color: var(--color-text);
}

 
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-alt);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary-active);
    border-radius: var(--radius-lg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-hover);
}

 
@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }

    * {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}
